@( pagination:(Option[models.Post],Option[models.Post]) )

<div class="paginationdiv">
    <ul id="pagination">
        @pagination._1.map { post =>
            <li id="previous">
                <a href="@action(controllers.Application.show(post.id()))">
                    << @post.title
                </a>
            </li>
        }
        @pagination._2.map { post =>
            <li id="next">
                <a href="@action(controllers.Application.show(post.id()))">
                    @post.title >>
                </a>
            </li>
        }
    </ul>
</div>